@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
    --white: #fff;

    --border-radius: 2rem;
    --transition: 0.25s all linear;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}

img {
    width: 100%;
    display: block;
}

.center {
    margin: 0 auto;
}

/*==============*/
/*= Main
/*==============*/
.main {
    min-height: 100vh;
}

.article-info {
    position: fixed;
    left: max(7.5vw, calc(100vw - 100rem) / 2);
    top: 18rem;
    z-index: 1000;

    width: 85vw;
    max-width: 100rem;
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 2rem;
}

.info-container {
    margin-bottom: 2rem;
}

.info-header {
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.info-text {
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
}

/*==============*/
/*= Form
/*==============*/
.section {
    height: 30rem;
    padding-top: 3rem;
    background-image: url("./images/pattern-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-title {
    color: var(--white);
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;
}

.form {
    width: 85vw;
    max-width: 60rem;

    display: grid;
    grid-template-columns: 1fr 6rem;
}

.form-input {
    height: 6rem;
    padding-left: 3rem;
    border: none;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    cursor: pointer;

    font-size: inherit;
    color: var(--very-dark-gray);
}

.form-input:focus {
    outline: 2px solid var(--dark-gray);
    outline-offset: -2px;
}

.form-input::placeholder {
    font-size: 1.6rem;
    color: var(--dark-gray);
}

.btn {
    border: none;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--very-dark-gray);
    color: var(--white);
    font-size: 3rem;
    transition: var(--transition);

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 27%);
}

.btn:disabled {
    background-color: hsl(0, 0%, 27%);
}

/*==============*/
/*= MapComp
/*==============*/
.leaflet-container {
    height: calc(100vh - 30rem);
}

.leaflet-popup-content {
    font-size: 1.3rem !important;
}

/*==============*/
/*= Spinner
/*==============*/
.loading-container {
    height: calc(100vh - 30rem);
    background-color: #d3d3d3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 4px solid var(--dark-gray);
    border-top-color: var(--very-dark-gray);
    animation: spinner 0.6s linear infinite;
}

/*==============*/
/*= Error
/*==============*/
.section-error {
    height: calc(100vh - 30rem);
    background-color: #d3d3d3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.error-heading {
    text-align: center;
    font-weight: 500;
    color: var(--very-dark-gray);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 650px) {
    .article-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info-header {
        text-align: left;
    }

    .info-text {
        text-align: left;
    }
}

@media screen and (min-width: 1000px) {
    .section {
        padding-top: 4rem;
    }

    .section-title {
        margin-bottom: 4rem;
    }

    .article-info {
        top: 22rem;
        padding: 3rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .info-container {
        margin-bottom: 0;
        border-right: 1px solid hsl(0, 0%, 69%);;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .info-container:first-child {
        padding-left: 0;
    }

    .info-container:last-child {
        margin-bottom: 0;
        border-right: none;
    }
}








